.project-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding-bottom: 200px;
}
.project {
    padding: 50px 50px;
}

.project-link {
    padding: 10px;
    color: var(--light);
    font-size: x-large;
}

.project-img {
    min-width: 200px;
    max-width: 500px;
}

@media screen and (min-width: 992px) {
    .project-img {
        min-width: 200px;
        max-width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .project-img {
        min-width: 100%;
    }
}